*{
    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:Arial, Helvetica, sans-serif;
}

body{

    height:100vh;

    background:#020617;

    overflow:hidden;
}

/* CONTAINER */

.auth-container{

    display:flex;

    height:100vh;
}

/* LEFT SIDE */

.auth-left{

    width:50%;

    background:
        linear-gradient(
            135deg,
            #0f172a,
            #1e1b4b
        );

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:50px;

    color:white;
}

.logo{

    width:220px;

    margin-bottom:20px;
}

.auth-left h1{

    font-size:56px;

    margin-bottom:10px;
}

.tagline{

    color:#a855f7;

    font-size:18px;

    margin-bottom:20px;

    letter-spacing:2px;
}

.description{

    max-width:450px;

    text-align:center;

    line-height:1.7;

    color:#cbd5e1;

    font-size:18px;
}

/* RIGHT SIDE */

.auth-right{

    width:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#020617;
}

/* CARD */

.auth-card{

    width:420px;

    background:#0f172a;

    padding:45px;

    border-radius:20px;

    box-shadow:
        0 15px 40px rgba(0,0,0,0.35);

    border:
        1px solid rgba(255,255,255,0.08);
}

.auth-card h2{

    color:white;

    font-size:34px;

    margin-bottom:10px;
}

.sub-text{

    color:#94a3b8;

    margin-bottom:30px;
}

/* INPUTS */

.auth-card input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#1e293b;

    color:white;

    font-size:15px;
}

.auth-card input:focus{

    border:1px solid #a855f7;
}

/* BUTTON */

.auth-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:
        linear-gradient(
            90deg,
            #9333ea,
            #6366f1
        );

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.auth-card button:hover{

    transform:translateY(-2px);

    opacity:0.9;
}

/* BOTTOM TEXT */

.bottom-text{

    margin-top:25px;

    text-align:center;

    color:#cbd5e1;
}

.bottom-text a{

    color:#a855f7;

    text-decoration:none;

    font-weight:bold;
}

/* RESPONSIVE */

@media(max-width:900px){

    .auth-left{

        display:none;
    }

    .auth-right{

        width:100%;
    }
}